<nav>
    <div>
        <a href = "/"><h1>Blog</h1></a>
        <p>A very well done site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New blog</a></li>
    </ul>
</nav>